header{
    width: 100%;
    height: 70vh;
    @include responsive(tab-port){
        height: 100vh;
        position: relative;
    }


    

    .content{
        width: 100%;
        height: 100%;
        display: flex;
       

        &__boxLeft{
            flex:1;
            @include responsive(pc){
                padding: 2rem;
            }

            @include responsive(tab-port){
                padding: 2rem;
            }

            &__card{
                width: 100%;
                height: 65rem;
                margin-top: 4rem;
                transition-timing-function: ease-in-out;

                @include responsive(pc){
                    height: 60rem;
                    width: 40rem;
                }

                @include responsive(tab-port){
                    height: 40rem;
                    width: 25rem;
                    
                }

                img:nth-of-type(1){
                    animation-name: fader;
                    animation-delay: 3s;
                    animation-duration: 1s;
                    z-index: 20;
                  
                }
                img:nth-of-type(2){
                  display: none;
                    
                }

                @keyframes fader {
                    from { opacity: 1.0; }
                    to   { opacity: 1; }
                }
                // background-image:url(../image/slide1.jpg);
                // background-repeat: no-repeat;
                // background-size: cover;
                // background-position: center;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

            }
            
        }

        &__boxCenter{
          
            flex:2;
            padding: 2rem;

            @include responsive(pc){
                padding: 2rem;
            }

            &__card{
                width: 100%;
                height: 100%;
                padding: 2rem;
                background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../image/attieke.jpg);
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center;
                border: 1px solid rgba(0, 0, 0, 0.212);
                box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.24);
                position: relative;

                @include responsive(pc){
                    width:100%;
                    height: 60rem;
                    padding: 2rem;

                }

               

                &__text{
                    position: absolute;
                    width: 80rem;
                    min-height: 35rem;
                    top:50%;
                    left:50%;
                    transform: translate(-50%,-50%);

                    @include responsive(pc){
                        width: 40rem;
                        height: 55rem;
                        
                    }

                    h1{
                        font-size: 8rem;
                        letter-spacing: 3.5rem;
                        text-align: center;
                        font-weight: bold;
                        color: white;
                        font-family: 'Lato', sans-serif;


                        @include responsive(pc){
                            font-size: 5rem;
                            letter-spacing: 2.5rem;
                            margin-top: 3rem;
                            
                        }
                        
                    }

                    

                   p{
                        font-size: 5rem;
                        letter-spacing: 1.7rem;
                        text-align: center;
                        font-weight: bold;
                        color: white;
                        font-family: 'Lato', sans-serif;

                        @include responsive(pc){

                            font-size: 4rem;
                            letter-spacing: 1.2rem;
                            text-align: center;
                            margin-top: 3rem;
                            
                        }
                    }
                }
            }


            
        }

        &__boxRigth{
           
            flex:1;
            @include responsive(pc){
                padding: 2rem;
            }

            @include responsive(tab-port){
                padding: 2rem;
            }
            &__card{
                width: 100%;
                height: 65rem;
                margin-top: 4rem;
                transition-timing-function: ease-in-out;
                @include responsive(pc){
                    height: 60rem;
                    width: 40rem;
                }

                @include responsive(tab-port){
                    height: 40rem;
                    width: 25rem;  
                }

                img:nth-of-type(1){
                    animation-name: fader;
                    animation-delay: 3s;
                    animation-duration: 1s;
                    z-index: 20;
                }
                img:nth-of-type(2){
                display: none;
                    
                }
                // background-image:url(../image/slide1.jpg);
                // background-repeat: no-repeat;
                // background-size: cover;
                // background-position: center;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                @keyframes fader {
                    from { opacity: 1.0; }
                    to   { opacity: 1.1; }
                }

            }
            
        }

    }

}