.recette{
    width: 70%;
    min-height: 50rem;
  
    margin: 0 auto;
    display: flex;
    flex-wrap:wrap;
    padding: 2rem;


    &__recetteDujr{
        flex: 2;
        padding: 2rem;

        &__card{
        width: 100%;
           min-height: 50rem;

           &__description{
            width: 100%;
            height: 60rem;
            background-color: red;
            border-radius: 20px;
            .Image{
                width: 100%;
                height: 100%;
                object-fit:cover;
                border-radius: 20px;
            }

        }

        &__illustration{
            width: 100%;
            height: 20rem;
            padding: 2rem;
            display: flex;
            flex-direction: column;
            overflow: scroll;
            h2{
                font-size: 4rem;
            }

            h3{
                font-size: 2.5rem;
                text-decoration: underline;
                color: #f89605;
            }

            p{
                font-size: 2rem;
                line-height: 1.6;
                text-align: justify;
            }
        }

        }
        


    }

    &__recettePasse{
        flex: 1;

        &__card{
            width:  30rem;
            min-height: 25rem;

            &__item{
                width: 100%;
                min-height: 20rem;
                margin-top: 3rem;
                display: flex;
                justify-content: space-between;
                border: 1px solid rgba(255, 0, 0, 0.301);
                border-radius: 20px;
                transition: all .3s ease-in-out;
    
                &:hover{
                    margin-left: 3rem;
                    box-shadow: 4px 0px 8px 0px rgba(0,0,0,0.24);
                }
    
                .imgBox{
                    display: inline-block;
                    width: 40rem;
                    &__image{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 20px;
                    }
                }
    
                .textBox{
                    display: inline-block;
                    padding: 1.5rem;
                    vertical-align: top;
    
                    h2{
                        font-size: 2rem;
                        }
    
                    h3{
                    font-size: 1.8rem;
                    text-decoration: underline;
                    color: #f89605;
                    }
    
                    p{
                        font-size: 1.5rem;
                    }
                    .button{
                        font-size: 2rem;
                        width: 13rem;
                        height: 4rem;
                        background-color:#f89605;
                        color: $color-white;
                        border: none;
                        border-radius: 50%;
    
                    }
                }
            }
        }

       
    }
    
}

