.section-cmd{
    width: 100%;
    min-height: 30rem;
    background-color:$color-primary;
    position: relative;

    // @include responsive(tab-port){
    //     margin-top: -68rem;
    //     }

    &__text{
        position: absolute;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        // justify-content: center;
        color: $color-white;
        top: 50%;
        left: 50%;
        font-family: 'Lato', sans-serif;
        transform: translate(-50%,-50%);
        text-align: center ;

        &__heading{
            font-size: 4rem; 
        }

        &__span{
            font-size: 4rem; 
        }

    }
}

.carteHeader{
    width: 80%;
    height: 20rem;
    margin: 0 auto;
    display: flex;
    justify-content:center;
    align-items: center;

    &__content{
        font-size: 4.5rem;
        font-weight: 800;
        font-family: 'Lato', sans-serif;
    }

}