.btn{
    height: 5rem;
    width: 15rem;
    border: none;
    background-color: $color-white;
    border-radius: 50px;
    font-size: 2rem;
    color:  $color-primary;
    margin-top: 2rem; 
    transition:  .3s ease-in-out;

    &:hover{
        background-color:$color-primary ;
        color:  $color-white;
        border: 1px solid $color-white;
    }
}