.btnDetail{
    height: 5rem;
    width: 15rem;
    border: none;
    background-color: $color-primary;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    font-size: 2rem;
    color:  #fff;
    margin-top: 3rem;
    float: right;
    
   
}