.carte__cards{
    flex: 1;
    padding: 1rem;

    &__content{
        width: 90%;
        height: 40rem;
        box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.31);
        border-radius: 20px;

        &__illustration{
            width: 100%;
            height: 25rem;
            background-color: red;
            border-radius: 20px;
        }
        &__description{
            width: 100%;
            height: 100%;
            padding: 1rem;

            &__title{
                font-size: 3rem;
            }
        }
    }
}

