.carte__cards{
    flex: 1;
    padding: 2rem;

    &__content{
        width: 100%;
        height: 40rem;
        box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.31);
        border-radius: 20px;


        @include responsive(pc){
            width: 100%;
        }
        
        @include responsive(tab-port){
            width: 27rem;
            height: 40rem;
            margin: 0 auto;
        }


        &__illustration{
            width: 100%;
            height: 25rem;
            background-color: red;
            border-radius: 20px;

            img{
                width: 100%;
                 height: 100%;
                object-fit: cover;
                border-radius: 20px;
            }
        }
        &__description{
            width: 100%;
            height: 100%;
            padding: 1rem;

            &__title{
                font-size: 3rem;
            }
        }
    }
}

