.card_specialite_attieke{
    height: 35rem;
    width: 30rem;
    background-color: black;
}

.card_specialite_foutou{
    height: 35rem;
    width: 30rem;
    background-color:red;
}

.card_specialite-riz{
    height: 35rem;
    width: 30rem;
    background-color:orange;
}