.tabcontent__card{
    height: 30rem;
    width:25rem;
    background-color: white;
    border-radius: 10px;
    
    .tabcontent__card__circle{
        height: 25rem;
        border-top-left-radius:10px ;
        border-top-right-radius:10px ;
        width:25rem;
        background-color: black;
        clip-path: circle(59.6% at 50% 14%);
    }
}